@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    background: url("../img/background_header.png")no-repeat fixed;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
}
.logo img{
    position: absolute;
    width: 233px;
    height: 120px;
}
.logo_nav{
    margin-right: 169px;
    margin-left: 165px;
}
.list_nav{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
    position: relative;
}
.list_nav a{
    display: block;
    text-align: center;
}
.list_nav li{
    float: left;
    padding: 48px 13px 30px 13px;
}
.search_nav{
    display: inline-flex;
    width: 21px;
    height: 20px;
    margin-top: 48px;
    margin-right: 165px;
    margin-left: 21px;
}
.nav{
    background: rgba(94, 93, 88, 0.6);
    display: inline-flex;

}
.list_item:hover{
    color: #18CFAB;
    border-bottom: 4px solid #18CFAB;

}
.header_text1{
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 35px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 200px 405px 13px 405px;
}
.header_text1 span{
    color: #18CFAB;
}
.header_text2{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 78px;
    line-height: 80px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 13px 330px 13px 330px;
}
.header_text3{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 34px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #D4D4D4;
    margin: 13px 330px 13px 330px;
}
.btn_explore_now{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
    display: inline-block;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #18CFAB;
    width: 168px;
    height: 63px;
    padding-left: 9px;
    margin: 120px 26px 243px 520px;
}
.btn_purchase_now1{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
    display: inline-block;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #00CBF6;
    width: 168px;
    height: 63px;
    margin: 120px 520px 243px 10px;
}
.section_container{
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 8px;
}
.section_container_item1{
    width: 358px;
    height: 280px;
    background: #1C2A33;
}
.section_container_item2{
    width: 358px;
    height: 280px;
    background: #18CFAB;
}
.section_container_item3{
    width: 358px;
    height: 280px;
    background: #1C2A33;
}
.section_container_item4{
    width: 358px;
    height: 280px;
    background: #18CFAB;
}
.section_container_text1{
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: flex-end;
    text-transform: uppercase;
    color: #18CFAB;
    padding-left: 30px;
}
.img_hand{
    padding: 50px 150px 30px 150px;
}
.section_container_text2{
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: flex-end;
    text-transform: uppercase;
    color: #18CFAB;
    padding-left: 65px;
}
.img_bulb{
    padding: 50px 150px 30px 150px;
}
.section_container_text_white1{
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: flex-end;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 17px 60px 30px 60px;
}
.img_brilliant{
     padding: 55px 145px 30px 140px;
 }
.section_container_text_white2 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: flex-end;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 17px 40px 30px 42px;
}
.img_electronics{
    padding: 55px 135px 30px 135px;

}
.our_services, .page1, .work-wrapper{
    background-color: #FFFFFF;
}
.our_services_title{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #4E4E4E;
    padding-top: 90px;
    margin-left: 465px;
}
.lines{
    margin: 24px 555px 67px 540px;
}
.our_services_content{
    max-width: 1160px;
    margin: auto;
    text-align: center;
    padding-bottom: 91px
}
.our_services_tabs{
    margin-top: 67px;
}
.our_services_tabs_list{
    height: 75px;
    font-weight: 400;
    font-size: 16px;
    line-height: 39px;
    color: #717171;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(1, 1fr);
    list-style: none;
    background: #F8FCFE;
    align-items: center;
    text-align: center;
}
.our_services_tab{
    border: 1px solid #EDEFEF;
    padding-top: 18px;
    padding-bottom: 16px;
}
.our_services_tab:not(:first-child){
    border-left: none;
}
.our_services_tab:hover{
    border: 1px solid #18CFAB;
    cursor: pointer;
}
.our_services_tab.active{
    color: #FFFFFF;
    background: #18CFAB;
    cursor: auto;
    position: relative;
    border: 1px solid #18CFAB;
}
.our_services_tab.active::before{
    position: absolute;
    top: 74px;
    left: 43%;
    content: '';
    display: block;
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-left-width: 14px;
    border-right-width: 14px;
    border-top: 14px solid #18CFAB;
}
.our_services_tabs_content{
    margin-top: 28px;
    list-style: none;
}
.our_services_tabs_text.active{
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #777777;
    display: flex;
    transition: left 0.2s ease-out;
}
.our_services_tabs_text.active p{
    padding-left: 13px;
    text-align: justify;
}
.our_services_tabs_text{
    display: none;
}
.purchase{
    background: url("../img/purchase_background.png");
    background-size: cover;
    width: 1440px;
    height: 476px;
}
.purchase_headline{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #18CFAB;
    padding: 127px 155px 12px 155px;
}
.purchase_text{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #D8D8D8;
    margin-left: 305px;
}
.btn_purchase_purchase-now {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #18CFAB;
    width: 168px;
    height: 68px;
    margin: 61px 650px 128px 650px ;
    padding-left: 13px;
}
.work-wrapper{
    width: 100%;
    background: #E9EDEF;
}
.work-content{
    max-width: 1160px;
    margin: auto;
    align-items: center;
    text-align: center;

}
.work-title{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #4E4E4E;
    padding:95px 405px 20px 405px
}
.work-tabs{
    list-style: none;
    margin-top: 65px;
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 42px;
    color: #717171;
}
.work-tab{
    border: 1px solid #DADADA;
    padding: 8px 16px;
}
.work-tab:first-child{
    border: 1px solid #DADADA;
    padding-left: 31px;
    padding-right: 32px;
}
.work-tab:not(:first-child){
    border-left: none;
}
.work-tab:hover{
    border: 1px solid #18CFAB;
    color: #18CFAB;
    cursor: pointer;
}
.work-tab.active{
    border: 1px solid #18CFAB;
    color: #18CFAB;
    cursor: auto;
}
.work-images{
    margin-top: 69px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
.second-block,
.third-block{
    display: none;
}
.work-btn-wrapper{
    margin-top: 70px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center
}
#work-btn{
    width: 168px;
    height: 63px;
    background: #18CFAB;
    font-weight: 700;
    font-size: 14px;
    line-height: 42px;
    text-transform: uppercase;
    color: #FFFFFF;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: none;
    outline: none;
    cursor: pointer;
}
.work-img{
    position: relative;
}
.work-img-hover{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 285px;
    height: 206px;
    border-top: 2px solid #18CFAB;
    background: #E9EDEF;
    text-align: center;
    align-items: center;
    padding-bottom: 40px;
    padding-top: 40px;
}
.work-img:hover .work-img-hover{
    display: block;
    cursor: pointer;
}
.work-img-hover p:nth-child(2){
    font-weight: 700;
    font-size: 14px;
    line-height: 25px;
    text-transform: uppercase;
    color: #18CFAB;
    padding-top: 25px;
}
.work-img-hover p:last-child{
    font-weight: 300;
    font-size: 13px;
    line-height: 25px;
    color: #8A8A8A;
}
.loading{
    display:none
}
.news{
    width: 100%;
    background: #FFFFFF;
}
.news-content{
    max-width: 1160px;
    margin: 0 auto;
    align-items: center;
    text-align: center;
}
.news-title{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #4E4E4E;
    margin-left: 446px;
    padding-top: 84px;
    margin-bottom: 24px;
}
.news-lines{
    margin-bottom: 68px;
}
.news_picture{
    width: 263px;
    height: 208px;
    position: relative;
}
.news-boxes{
    margin-top: 68px;
    display: grid;
    list-style: none;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    row-gap: 44px;
    column-gap: 33px;
}
.news-wrapper{
    background-color: #FFFFFF;
}
.news-content{
    max-width: 1160px;
    margin: 0 auto;
    padding-top: 84px;
    padding-bottom: 130px;
    text-align: center;
    align-items: center;
}
.news-boxes{
    margin-top: 68px;
    display: grid;
    list-style: none;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    row-gap: 44px;
    column-gap: 33px;
}
.news-box{
    position: relative;
}
.news-box:hover .news-box-data{
    background: #18CFAB;
}
.news-box:hover .news-box-title{
    color: #18CFAB;
}
.news-box-data{
    position: absolute;
    top: 0;
    right: 0;
    width: 66px;
    height: 66px;
    background: #203E38;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    display: flex;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
    flex-direction:  column;
}
.news-box-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 39px;
    color: #717171;
    text-align: left;
    padding-left: 15px;
}
.news-box-text{
    font-weight: 300;
    font-size: 14px;
    line-height: 39px;
    color: #777777;
    text-align: left;
    padding-left: 15px;
}
.about-us {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../img/feedback_background.png") no-repeat fixed;
    background-size: cover;
}
.about-us-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 98px 0 104px 0;
    max-width: 1160px;
    margin: 0 auto;
}
.about-us_title {
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: #ffffff;
    margin-bottom: 99px;
}
.about-us-container svg {
    margin-bottom: 36px;
}
.about-us_comment {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-us_comment-text,
.about-us_comment-profession {
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    color: #bbbbbb;
}
.about-us_comment-name {
    margin-top: 37px;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    color: #18cfab;
    text-transform: uppercase;
}
.about-us_comment-photo {
    margin-top: 90px;
    margin-bottom: 108px;
    border-radius: 50%;
    scale: 2.45;
}
.about-us_comment-active {
    display: flex;
}
.about-us_tabs-container {
    display: flex;
    align-items: center;
}
.about-us_tabs-container button {
    text-align: center;
    appearance: none;
    padding: 5px 11px;
    color: #bbbbbb;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #bbbbbb;
}
.about-us_tabs-container button:first-child {
    margin-right: 35px;
}
.about-us_tabs-container button:last-child {
    margin-left: 35px;
}
.about-us_tab:not(.about-us_tab:nth-child(2)) {
    margin-left: 38px;
}
.about-us_tab {
    position: relative;
    border-radius: 50%;
}
.about-us_tab-active {
    position: relative;
    top: -13px;
}
.about-us_tab {
    animation-duration: 0.5s;
    animation-name: tabDown;
}
@keyframes tabDown {
    from {
        top: -13px;
    }
    to {
        top: 0;
    }
}
.about-us_tab-active,
.about-us_tabs-container img:hover {
    animation-duration: 0.5s;
    animation-name: tabUp;
}
.about-us_tabs-container button:hover {
    background: #18cfab;
    color: #fff;
    border-color: #18cfab;
}
.about-us_tabs-container img:hover {
    top: -13px;
}
.footer{
    height: 120px;
    width: 100%;
    background: #22353F;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    color: #AEAEAE;
}

footer span{
    color: #18CFAB;
}


